app = "cc-web"
primary_region = "bog"

[build]
  dockerfile = "apps/web/Dockerfile"

[env]
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 1
